.header {
    grid-area: header;

}

.logo {   
    height: 25px;
}

img {
    height: 100%;
}

.nav__menu a{
  color: black;
}

.nav__item.active{
    color: rgb(224, 12, 12);
  }

.icon_search {
    content: "\e901";
}