body {
    font-family: 'Montserrat Alternates', sans-serif;
    background: black;
}

img {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
 
}

.container {

    display: flex;
   
}




