body {
    font-family: 'Montserrat Alternates', sans-serif;
}

img {
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-areas: "header" "page-content" "footer";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0 auto;
    grid-gap: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.page-content {
    grid-area: page-content;
}
.active{
    color: rgb(219, 20, 20);
}