img {
  width: 100%;
}
.wrapper {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  margin: 0 auto;  
  grid-gap: 10px;  
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
justify-content: space-between;
}
.header {
grid-area: header;



}
.logo {
  grid-area: logo;
  height: 25px;
  }
.logo img{
height: 100%;
}
.nav-menu {
  grid-area: nav-menu;
}

.main {
  grid-area: main;
}
.main .container {
  display: block;
}
.baners {
  display: flex;
  justify-content: space-between;
}
.bnrs-item{
  width: 30%;
}
.footer {
  grid-area: footer;
  justify-content: space-between;
}
.menu-item-content a{
  display: block;
}